<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>DarkGames | Juegos por catalogos</title>
  <!-- FUENTES DE GOOGLE FONT -->
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto:wght@300;400&display=swap"
    rel="stylesheet" />
  <!-- LIGHT SLIDER CSS -->
  <link rel="stylesheet" type="text/css" href="../css/lightslider.css" />
  <!-- Style css Personalizados -->
  <link rel="stylesheet" href="../css/style.css" />
  <!-- Jquery Libreria Min -->
  <script src="../js/jquery-3.5.1.js"></script>
  <!--LIGHT SLIDER JAVASCRIPT-->
  <script type="text/javascript" src="../js/lightslider.js"></script>
  <!-- Fontawesome iconos -->
  <script src="https://kit.fontawesome.com/e64d2546b6.js" crossorigin="anonymous"></script>
</head>

<body class="download-color">
  <header>
    <div class="descargar">
      <div class="header-menu" id="menuH">
        <div class="container navegation navegation-mobil">
          <div class="icon-menu">
            <span><i class="fas fa-bars"></i></span>
          </div>
          <nav class="navbar">
            <a class="logo-img" href="../../index.html">
              <img src="../static/img/logo.png" alt="logo" />
            </a>
            <a id="genero" class="hover">Género <i class="fas fa-chevron-down"></i>
              <ul class="submenu-g" id="submenu-genero">
                <li href="#"><i class="fa fa-rocket"></i> Acción</li>
                <li href="#"><i class="fas fa-child"></i> Anime</li>
                <li href="#"><i class="fas fa-tree"></i> Aventura</li>
                <li href="#"><i class="fas fa-flag"></i> Carrera</li>
                <li href="#"><i class="fas fa-clock"></i> Casual</li>
                <li href="#"><i class="fas fa-users"></i> Cooperativo</li>
                <li href="#"><i class="fas fa-trophy"></i> Deportes</li>
                <li href="#"><i class="fas fa-heart"></i> Desnudos</li>
                <li href="#"><i class="fas fa-tablet"></i> Estrategia</li>
                <li href="#"><i class="fas fa-tree"></i> Exploración</li>
                <li href="#"><i class="fas fa-link"></i> fantasia</li>
                <li href="#"><i class="fas fa-spinner"></i> FPS</li>
                <li href="#"><i class="fas fa-fighter-jet"></i> Guerra</li>
                <li href="#"><i class="fas fa-child"></i> Indie</li>
                <li href="#"><i class="fas fa-certificate"></i> RPGs</li>
                <li href="#"><i class="fas fa-gavel"></i> Lucha</li>
                <li href="#"><i class="fas fa-desktop"></i> Multijugador</li>
                <li href="#"><i class="fas fa-globe"></i> MundoAbierto</li>
                <li href="#"><i class="fas fa-link"></i> Online</li>
                <li href="#"><i class="fas fa-cubes"></i> Plataforma</li>
                <li href="#"><i class="fas fa-magic"></i> Rol</li>
                <li href="#">
                  <i class="fas fa-puzzle-piece"></i> Rompecabezas
                </li>
                <li href="#"><i class="fas fa-table"></i> Sandbox</li>
                <li href="#"><i class="fas fa-crosshairs"></i> shooter</li>
                <li href="#"><i class="fas fa-binoculars"></i> simulador</li>
                <li href="#"><i class="fas fa-medkit"></i> Supervivencia</li>
                <li href="#"><i class="fas fa-frown"></i> Terror</li>
                <li href="#"><i class="fas fa-heartbeat"></i> Violento</li>
                <li href="#"><i class="fas fa-meh"></i> Zombies</li>
              </ul>
            </a>
            <a id="requisitos" class="hover">Requisitos <i class="fas fa-chevron-down"></i>
              <ul class="submenu-g" id="submenu-requisitos">
                <li><i class="fas fa-desktop"></i> Altos</li>
                <li><i class="fas fa-laptop"></i> Medios</li>
                <li><i class="fas fa-tablet-alt"></i> Bajos</li>
              </ul>
            </a>
            <a id="version" class="hover">Versión <i class="fas fa-chevron-down"></i>
              <ul class="submenu-g" id="submenu-version">
                <li><i class="fas fa-star"></i> CPY</li>
                <li><i class="fas fa-star"></i> Codex</li>
                <li><i class="fas fa-star"></i> Darksiders</li>
                <li><i class="fas fa-star"></i> ElAmigos</li>
                <li><i class="fas fa-star"></i> GOG</li>
                <li><i class="fas fa-star"></i> HI2U</li>
                <li><i class="fas fa-star"></i> Plaza</li>
                <li><i class="fas fa-star"></i> Prophet</li>
                <li><i class="fas fa-star"></i> Reloaded</li>
                <li><i class="fas fa-star"></i> Skidrow</li>
              </ul>
            </a>
            <a id="lanzamiento" class="hover">Lanzamiento <i class="fas fa-chevron-down"></i>
              <ul class="submenu-g" id="submenu-lanzamiento">
                <li><i class="far fa-check-circle"></i> 2000</li>
                <li><i class="fas fa-check-circle"></i> 2001</li>
                <li><i class="far fa-check-circle"></i> 2002</li>
                <li><i class="fas fa-check-circle"></i> 2003</li>
                <li><i class="far fa-check-circle"></i> 2004</li>
                <li><i class="fas fa-check-circle"></i> 2005</li>
                <li><i class="fas fa-check-circle"></i> 2006</li>
                <li><i class="fas fa-check-circle"></i> 2007</li>
                <li><i class="far fa-check-circle"></i> 2008</li>
                <li><i class="fas fa-check-circle"></i> 2009</li>
                <li><i class="fas fa-check-circle"></i> 2010</li>
                <li><i class="far fa-check-circle"></i> 2011</li>
                <li><i class="far fa-check-circle"></i> 2012</li>
                <li><i class="far fa-check-circle"></i> 2013</li>
                <li><i class="far fa-check-circle"></i> 2014</li>
                <li><i class="far fa-check-circle"></i> 2015</li>
                <li><i class="fas fa-check-circle"></i> 2016</li>
                <li><i class="far fa-check-circle"></i> 2017</li>
                <li><i class="far fa-check-circle"></i> 2018</li>
                <li><i class="fas fa-check-circle"></i> 2019</li>
                <li><i class="far fa-check-circle"></i> 2020</li>
              </ul>
            </a>
            <div class="information mobil-info">
              <a href="#" class="info-i"><i class="fas fa-info-circle"></i> Ayuda
              </a>
            </div>
          </nav>
          <div class="inpbarr inbarr-mobil">
            <div class="box-search">
              <input type="search" name="search" id="search" placeholder="Buscar..." />
              <i class="fas fa-search"></i>
            </div>
            <button type="button">
              <i class="fas fa-user-circle"></i>
            </button>
          </div>
        </div>
        <div class="login-box">
          <div class="container">
            <div class="info-login">
              <h2>Iniciar sesión</h2>
              <a><i class="fas fa-times"></i></a>
            </div>
            <form action="../view/perfil.html" class="formulario">
              <div class="form-control">
                <i class="fas fa-user"></i>
                <input type="text" name="user" id="user" placeholder="Usuario.." required />
              </div>
              <div class="form-control">
                <i class="fas fa-key"></i>
                <input type="password" name="pass" id="pass" placeholder="Contraseña.." required />
              </div>
              <button type="submit">Iniciar sesión</button>
            </form>
            <div class="recovery-login">
              <div class="r-login">
                <span>¿Olvidaste tu contraseña?</span>
                <a href="../view/recovery.html"> Recuperar contraseña</a>
              </div>
              <div class="r-login">
                <span>¿No tienes una cuenta?</span>
                <a href="../view/register.html">Registrarse</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="info-download container">
    <div class="first-part">
      <div class="cover">
        <img src="../static/img/poster/poster6.jpg" alt="poster" />
      </div>
      <div class="buy-trailer">
        <a href="" class="btn btn-second"><i class="fas fa-shopping-cart"></i> Comprar</a>
        <a id="btndownload" class="btn btn-second"><i class="fas fa-download"></i> Descargar
        </a>
        <a id="btnTrialer" class="btn btn-primary"><i class="fab fa-youtube"></i> Trailer</a>
      </div>
      <div class="ranking-game">
        <img src="../static/img/poster/poster1.jpg" alt="Ranking" />
        <div class="info-ranking">
          <a href="#">47%</a>
        </div>
      </div>
    </div>
    <!-- PRIMERA COLUMNA POSTER Y LINSK DE DESCARGA Y RANKING -->

    <div class="second-part">
      <div class="basic-info">
        <h2>Horizon Zero Dawn Complete Edition</h2>
        <div class="seo-info-down">
          <div class="star">
            <i class="fas fa-star"></i>
          </div>
          <div class="ranking-link">
            <ul>
              <li><a href="#">2020</a></li>
              <li><a href="#">Acción</a></li>
              <li><a href="#">Altos</a></li>
              <li><a href="#">Aventura</a></li>
              <li><a href="#">ElAmigos</a></li>
              <li><a href="#">Exploración</a></li>
              <li><a href="#">MundoAbierto</a></li>
              <li><a href="#">Rol</a></li>
            </ul>
          </div>
          <div class="size-game">
            <i class="fas fa-question"></i>
            <span>58,8 GB</span>
          </div>
          <div class="view-game">
            <i class="fas fa-eye"></i>
            <span>7601 Vistas</span>
          </div>
        </div>
        <div class="description">
          <p>
            <span>Descargar Horizon Zero Dawn ElAmigos por googledrive</span>
            - Vive la misión legendaria de Aloy para desvelar los secretos de
            un mundo dominado por máquinas letales. La joven cazadora, una
            paria, lucha por revelar su pasado, descubrir su destino y detener
            una amenaza catastrófica para el futuro. Desata devastadores
            ataques contra máquinas únicas y tribus rivales mientras exploras
            un mundo abierto repleto de vida salvaje y peligros. Horizon Zero
            Dawn es un aclamado juego de acción de rol. La Complete Edition
            para PC incluye la gran expansión The Frozen Wilds, con nuevas
            tierras, habilidades, armas y máquinas. Para resumir, es un gran
            juego <span>Horizon Zero Dawn ElAmigos</span>, además se encuentra
            subido a los servidores de mega, googledrive y torrent. Tienes 3
            opciones de descarga para poder disfrutar este maravilloso juego.
            Que esperas para descargarlo desde nuestra página web. Si te gusta
            el juego, puedes apoyar a los desarrolladores comprándolo.
            Gamesfull te desea un feliz día.
          </p>
        </div>
      </div>
      <div class="complet-info">
        <nav class="menu-game-info">
          <div class="btn-mobilf">
            <i class="fas fa-chevron-circle-up"></i>
            <i class="fas fa-chevron-circle-down"></i>
          </div>
          <ul id="desplegar-information">
            <li class="activo" id="info">Información</li>
            <li id="cont">Contenido</li>
            <li id="requ">Requisitos</li>
            <li id="inst">Intruciones</li>
          </ul>
        </nav>
        <div class="datos-games">
          <div class="informacion">
            <div class="box-informacion">
              <span>Fecha de estreno:
                <p>09/12/20</p>
              </span>
              <span>Fecha de actualización:
                <p>09/12/20</p>
              </span>
              <span>Plataforma:
                <p>PC</p>
              </span>
              <span>Idioma/texto:
                <img src="../static/img/lenguaje/españa.png" alt="" />
                <img src="../static/img/lenguaje/eeuu.png" alt="" />
                <img src="../static/img/lenguaje/Francia.png" alt="" />
                <img src="../static/img/lenguaje/Italia.png" alt="" />
                <img src="../static/img/lenguaje/Brasil.png" alt="" />
                <img src="../static/img/lenguaje/chino.png" alt="" />
                <img src="../static/img/lenguaje/Japones.png" alt="" />
                <img src="../static/img/lenguaje/Aleman.png" alt="" />
                <img src="../static/img/lenguaje/Rusia.png" alt="" />
                <img src="../static/img/lenguaje/Arabe.png" alt="" />
                <img src="../static/img/lenguaje/Polaco.png" alt="" />
                <img src="../static/img/lenguaje/Portugal.png" alt="" />
              </span>
              <span>Idioma/audio:
                <img src="../static/img/lenguaje/españa.png" alt="" />
                <img src="../static/img/lenguaje/eeuu.png" alt="" />
                <img src="../static/img/lenguaje/Francia.png" alt="" />
                <img src="../static/img/lenguaje/Aleman.png" alt="" />
                <img src="../static/img/lenguaje/Polaco.png" alt="" />
              </span>
              <span>Versión:
                <p>ISO ElAmigos</p>
              </span>
              <span>Crack:
                <p>CODEX</p>
              </span>
              <span>Tamaño:
                <p>64,4 GB</p>
              </span>
            </div>
          </div>
          <div class="contenido">
            <div class="box-contenido">
              <div class="principal-items">
                <span>Contenido Principal</span>
                <p><span>--</span> Juego base en su versión v1.3</p>
              </div>
              <div class="extras-items">
                <span>Contenido Extra</span>
                <p><span>--</span> Soundtrack (mp3)</p>
                <p><span>--</span> Avatars</p>
                <p><span>--</span> Posters</p>
                <p><span>--</span> Short Story</p>
                <p><span>--</span> Sourcebook</p>
                <p><span>--</span> Wallpapers</p>
              </div>
            </div>
          </div>
          <div class="requisitos">
            <div class="box-requisitos">
              <div class="r-min">
                <span>Requisitos minimos</span>
                <p>SO: Windows 7 or 10</p>
                <p>Procesador: Intel Core i5-3570K or AMD FX-8310</p>
                <p>Memoria: 8 GB de RAM</p>
                <p>Gráficos: NVIDIA GeForce GTX 780 or AMD Radeon RX 470</p>
                <p>DirectX: Versión 12</p>
                <p>Disco: 70 GB libres.</p>
              </div>
              <div class="r-rec">
                <span>Requisitos recomendados</span>
                <p>SO: Windows 7 or 10</p>
                <p>Procesador: Intel Core i7-4790 or AMD Ryzen 3 3200G</p>
                <p>Memoria: 12 GB de RAM</p>
                <p>Gráficos: NVIDIA GeForce GTX 1060 or AMD Radeon R9 Fury</p>
                <p>DirectX: Versión 12</p>
                <p>Disco: 70 GB libres.</p>
              </div>
            </div>
          </div>
          <div class="intruciones">
            <div class="box-instruciones">
              <div class="intru">
                <span>Instrucciones</span>
                <p>1° Descomprimir el RAR de "Cyberpunk 2077 ElAmigos".</p>
                <p>2° Montar la ISO del juego y ejecutar el "setup.exe".</p>
                <p>3° Instalar.</p>
                <p>4° Ejecutar el juego como ADMINISTRADOR y JUGAR!!!</p>
              </div>
              <div class="aclar">
                <span>Aclaración y/o información</span>
                <p><span>--</span> Por el momento nada que decir.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="previw-gamesPictures">
        <div class="box-preview">
          <nav class="navegador-preview">
            <ul>
              <li>
                <a id="btn-preview1">
                  <img src="img/preview/1-Horizon-Zero-Dawn.jpg" alt="" />
                  <div class="preview-hover">
                    <h2>Vista previa</h2>
                  </div>
                </a>
              </li>
              <li>
                <a id="btn-preview2">
                  <img src="../static/img/preview/2-Horizon-Zero-Dawn.jpg" alt="" />
                  <div class="preview-hover">
                    <h2>Vista previa</h2>
                  </div>
                </a>
              </li>
              <li>
                <a id="btn-preview3">
                  <img src="../static/img/preview/3-Horizon-Zero-Dawn.jpg" alt="" />
                  <div class="preview-hover">
                    <h2>Vista previa</h2>
                  </div>
                </a>
              </li>
              <li>
                <a id="btn-preview4">
                  <img src="../static/img/preview/4-Horizon-Zero-Dawn.jpg" alt="" />
                  <div class="preview-hover">
                    <h2>Vista previa</h2>
                  </div>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!-- SEGUNDA COLUMNA INFORMACION DE EL JUEGO REQUERIMIENTOS Y VISTAS PREVIAS -->

    <div class="modal">
      <div class="menu-modal">
        <div class="box-opcionesDescargas">
          <div class="bg-prev">
            <img src="../static/img/bg-prev/1-Horizon-Zero-Dawn.jpg" alt="background" />
            <div class="links-descargas">
              <h1>ENLACES DE <span>DESCARGA</span></h1>
              <p>
                Si no sabes como descargar, puedes ver la sección de
                <span>AYUDA</span>. También puedes utilizar el chat si tienes
                alguna duda.
              </p>
              <div class="tabla-links container">
                <table>
                  <tr>
                    <th>Servidores</th>
                    <th>Versión</th>
                    <th>Enlaces</th>
                  </tr>
                  <tr>
                    <td>
                      <img src="../static/img/iconos/mega.png" alt="" />
                    </td>
                    <td>ElAmigos</td>
                    <td><a href="#" class="btn btn-second">Descargar</a></td>
                  </tr>
                  <tr>
                    <td>
                      <img src="../static/img/iconos/Torrent.png" alt="" />
                    </td>
                    <td>ElAmigos</td>
                    <td><a href="#" class="btn btn-second">Descargar</a></td>
                  </tr>
                  <tr>
                    <td>
                      <img src="../static/img/iconos/Mediafire.png" alt="" />
                    </td>
                    <td>ElAmigos</td>
                    <td><a href="#" class="btn btn-second">Descargar</a></td>
                  </tr>
                </table>
                <div class="reportar-links">
                  <span>Reportar links caidos: </span>
                  <a href="#">Click aqui</a>
                </div>
              </div>
              <span class="cerrar-mobil">X</span>
            </div>
          </div>
        </div>
        <div class="box-opcionesTrailer">
          <div class="trailler-box">
            <iframe height="350" src="https://www.youtube.com/embed/u4-FCsiF5x4" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
        </div>
        <div class="picture-preview">
          <div class="box-previewModal">
            <img id="pre1" src="../static/img/preview/1-Horizon-Zero-Dawn.jpg" alt="" />
            <img id="pre2" src="../static/img/preview/2-Horizon-Zero-Dawn.jpg" alt="" />
            <img id="pre3" src="../static/img/preview/3-Horizon-Zero-Dawn.jpg" alt="" />
            <img id="pre4" src="../static/img/preview/4-Horizon-Zero-Dawn.jpg" alt="" />
          </div>
        </div>
        <div class="cerrar-modal" id="cerrar"></div>
      </div>
    </div>
    <!-- MODAL PARA LOS LINKS DE DESCAGAR Y TRAILER Y LAS IMAGENES DE EL JUEGO PREVIOS -->
  </section>

  <footer class="container">
    <div class="footer-first">
      <div class="logo-footer">
        <img src="../static/img/logo.png" alt="logo" />
        <p>
          Te agradecemos por visitar nuestra web, nada de esto sería <br />
          posible sin tu apoyo. Muchas gracias
        </p>
      </div>

      <div class="sobre-nosotros">
        <h2>Sobre DarkGames</h2>
        <div class="link-sobre">
          <a href="#">Contacto</a>
          <a href="#">Historial</a>
          <a href="#">DMCA</a>
          <a href="#">Términos y condiciones</a>
        </div>
      </div>

      <div class="miembri-perfil">
        <h2>Miembros DarkGames</h2>
        <div class="perfils">
          <div class="developer-perfil">
            <a href="#"><img src="../static/img/user-developer/foto2x23.jpg" alt="" /></a>
            <a href="#"><img src="../static/img/user-developer/mi-foto.webp" alt="" /></a>
          </div>
          <div class="working">
            <a href="#"><img src="../static/img/user-developer/user.svg" alt="" /></a>
            <a href="#"><img src="../static/img/user-developer/user.svg" alt="" /></a>
            <a href="#"><img src="../static/img/user-developer/user.svg" alt="" /></a>
            <a href="#"><img src="../static/img/user-developer/user.svg" alt="" /></a>
          </div>
        </div>
      </div>
    </div>
    <!-- FIN DE LA PRIMERA PARTE DE EL FOOTER -->
    <div class="dividir-footer"></div>

    <div class="footer-last">
      <div class="private-info">
        <span>Copyright© 2020 DarkGames 1.0</span>
      </div>
      <div class="social-media">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
    <!-- FIN DE LA SEGUNDA PARTE DE EL FOOTER -->
  </footer>

  <!-- OwlCarousel JS personal -->

  <script>
    const videosrc = document.querySelector(".trailler-box iframe");

    $("#btnTrialer").on("click", function () {
      $(".modal .menu-modal").fadeIn(500);
      $("iframe").attr("src", trailer);
      $(".modal .menu-modal .box-opcionesDescargas").hide();
      $(".modal .menu-modal .picture-preview").hide();
      $(".modal .menu-modal .box-opcionesTrailer").fadeIn(1000);
    });

    const trailer = videosrc.getAttribute("src");
  </script>

  <!-- Javascripts Personalizados -->
  <script src="../js/app.js"></script>
</body>

</html>