<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DarkGames | Registrarse</title>
    <!-- FUENTES DE GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body class="hero-login">
    <header class="navegacion-register">
      <div class="logo">
        <a href="../../index.html"
          ><img src="../static/img/logo.png" alt=""
        /></a>
      </div>
      <div class="recovery-icon">
        <span>Registrarse</span>
        <a href="../view/register.html"><i class="fas fa-user-tie"></i></a>
      </div>
    </header>
    <section class="box-register">
      <div class="user-pic">
        <img src="../static/img/user-developer/mi-foto.webp" alt="" />
      </div>
      <div class="header-user">
        <h3>Recovery</h3>
      </div>
      <form method="post" class="formulario-registro formulario-recovery">
        <label for="name">Ingresa un usuario</label>
        <input type="text" name="name" placeholder="Nombre..." required />
        <label for="name">Ingresa tu nombre</label>
        <input type="text" name="name" placeholder="Nombre..." required />
        <label for="name">Ingresa tu apellido/s</label>
        <input type="text" name="name" placeholder="Nombre..." required />
        <label for="email">Ingresa tu E-mail</label>
        <input type="email" name="email" placeholder="Correo..." required />
        <button type="submit">Recuperar <i class="fas fa-unlock"></i></button>
      </form>
    </section>

    <script
      src="https://kit.fontawesome.com/e64d2546b6.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
